.glavni-sadržaj {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.naslov-stranice {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.porudžbine-gird {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.porudzbina-zaglavlje {
  background-color: rgb(240, 242, 242);
  border: 1px solid rgb(213, 217, 217);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.porudzbina-zaglavlje-leva-sekcija {
  display: flex;
  flex-shrink: 0;
}

.porudzbina-zaglavlje-label {
  font-weight: 500;
}

.porudzbina-datum,
.ukupna-porudzbina {
  margin-right: 45px;
}

.porudzbina-zaglavlje-desna-sekcija {
  flex-shrink: 1;
}

@media (max-width: 575px) {
  .porudzbina-zaglavlje {
    flex-direction: column;
    align-items: start;
    line-height: 23px;
    padding: 15px;
  }

  .porudzbina-zaglavlje-leva-sekcija {
    flex-direction: column;
  }

  .porudzbina-zaglavlje-label {
    margin-right: 5px;
  }

  .porudzbina-datum,
  .ukupna-porudzbina {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 0;
  }

  .porudzbina-zaglavlje-desna-sekcija {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.porudzbina-detalji-grid {
  padding: 40px 25px;
  border: 1px solid rgb(213, 217, 217);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: grid;
  grid-template-columns: 110px 1fr 220px;
  column-gap: 35px;
  row-gap: 60px;
  align-items: center;
}

.izbrisi-porudzbinu {
  display: inline-block;
  color: white;
  background-color: #531919;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

@media (max-width: 800px) {
  .porudzbina-detalji-grid {
    grid-template-columns: 110px 1fr;
    row-gap: 0;
    padding-bottom: 8px;
  }
}

@media (max-width: 450px) {
  .porudzbina-detalji-grid {
    grid-template-columns: 1fr;
  }
}

.proizvod-slika-kontejner {
  text-align: center;
}

.proizvod-slika-kontejner img {
  max-width: 110px;
  max-height: 110px;
}

.proizvod-ime {
  font-weight: 700;
  margin-bottom: 5px;
}

.proizvod-dostava-datum {
  margin-bottom: 3px;
}

.proizvod-količina {
  margin-bottom: 8px;
}

.kupi-ponovo-dugme {
  font-size: 15px;
  width: 140px;
  height: 36px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.kupi-ponovo-ikonica {
  width: 25px;
  margin-right: 15px;
}

.proizvod-akcije {
  align-self: start;
}

.pracenje-paketa-dugme {
  width: 100%;
  font-size: 15px;
  padding: 8px;
}

@media (max-width: 800px) {
  .kupi-ponovo-dugme {
    margin-bottom: 10px;
  }

  .proizvod-akcije {
    /* grid-column: 2 means this element will be placed
       in column 2 in the grid. (Normally, the column that
       an element is placed in is determined by the porudzbina
       of the elements in the HTML. grid-column overrides
       this default ordering). */
    grid-column: 2;
    margin-bottom: 30px;
  }

  .pracenje-paketa-dugme {
    width: 140px;
  }
}

@media (max-width: 450px) {
  .proizvod-slika-kontejner {
    text-align: center;
    margin-bottom: 25px;
  }

  .proizvod-slika-kontejner img {
    max-width: 150px;
    max-height: 150px;
  }

  .proizvod-ime {
    margin-bottom: 10px;
  }

  .proizvod-količina {
    margin-bottom: 15px;
  }

  .kupi-ponovo-dugme {
    width: 100%;
    margin-bottom: 15px;
  }

  .proizvod-akcije {
    /* grid-column: auto; undos grid-column: 2; from above.
       This element will now be placed in its normal column
       in the grid. */
    grid-column: auto;
    margin-bottom: 70px;
  }

  .pracenje-paketa-dugme {
    width: 100%;
    padding: 12px;
  }
}
