.glavni-sadrzaj {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.povratak-na-porudzbine-link {
  display: inline-block;
  margin-bottom: 30px;
}

.dostava-datum {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.proizvod-info {
  margin-bottom: 3px;
}

.proizvod-slika {
  max-width: 150px;
  max-height: 150px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.progress-labels-kontejner {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.trenutni-status {
  color: rgb(6, 125, 98);
}

@media (max-width: 575px) {
  .progress-labels-kontejner {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .progress-labels-kontejner {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .napredak-label {
    margin-bottom: 3px;
  }
}

.napredak-traka-kontejner {
  height: 25px;
  width: 100%;

  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;
  overflow: hidden;
}

.napredak-traka {
  height: 100%;
  background-color: green;
  border-radius: 50px;
  width: 50%;
}
